Doctype html
  html
     head
        title Exploring the Pug template
     body
        form(action='/test', method='POST')
            p
                | title: 
                input(name='title', value='', type='text')
            input(value='Submit', type='submit')